<section class="text-gray-600 body-font mx-10 h-full mt-4   gap-10" id="cargaison">
    <header class="bg-blue-600 text-white px-6 py-3 rounded-t-lg flex justify-between">
        
        <h2 class="text-xl font-semibold flex items-center">
          <i class="fas fa-box-open mr-2"></i> Liste des cargaisons
       </h2>
        <button class="bg-white hover:bg-blue-700 hover:text-white text-blue-600 font-bold py-2 px-4 rounded-full focus:outline-none focus:shadow-outline" type="button" id="btnaddCargo" onclick="my_modal_3.showModal()">Ajouter cargo</button>
      </header>
    <div class="w-full h-full flex flex-col gap-4 justify-center px-4 py-8">
       
        <div class="flex flex-col md:flex-row justify-between gap-4">
            <div class="flex flex-col md:flex-row gap-2 w-3/5">
                <select class="select select-bordered w-full md:w-1/5 h-[40px] p-2 rounded-lg max-w-xs" id="typecargo">
                    <option disabled selected>Filter</option>
                    <option value="Maritime">Maritime</option>
                    <option value="Aerienne">Aerienne</option>
                    <option value="Terrestre">Terrestre</option>
                </select>
                <select class="select select-bordered w-full md:w-1/5 h-[40px] p-2 rounded-lg max-w-xs" id="etat">
                    <option disabled selected>Filter</option>
                    <option value="ouvert">Ouvert</option>
                    <option value="fermé">Fermé</option>
                </select>
                <input type="text" placeholder="Search..." class="input input-bordered w-full md:w-1/5 h-[50px] p-2 rounded-lg max-w-xs" id="searchmultipleinput">
                <div id="filtersContainer" class="flex"></div>
            </div>
            
        </div>
        <div class="overflow-x-auto w-full h-full">
            <table class="w-full text-left rtl:text-right text-gray-500 dark:text-gray-400 rounded-md">
                <thead class="text-xs md:text-sm text-center text-gray-900 bg-gray-100 dark:bg-gray-700 dark:text-gray-400 w-full">
                    <tr>
                        <th scope="col" class="px-4 py-3">Code</th>
                        <th scope="col" class="px-4 py-3">Type</th>
                        <th scope="col" class="px-4 py-3">From</th>
                        <th scope="col" class="px-4 py-3">To</th>
                        <th scope="col" class="px-4 py-3">DateDepart</th>
                        <th scope="col" class="px-4 py-3">DateArrive</th>
                        <th scope="col" class="px-4 py-3">Status</th>
                        <th scope="col" class="px-4 py-3">Step</th>
                        <th scope="col" class="px-4 py-3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($donnee as $cargo) : ?>
                        <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600 border-b">
                            <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><?php echo $cargo['code']; ?></th>
                            <th scope="row" class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"><?php echo $cargo['_type']; ?></th>
                            <td class="px-4 py-4 text-gray-900 dark:text-white"><?= $cargo['_from']; ?></td>
                            <td class="px-4 py-4 text-gray-900 dark:text-white"><?= $cargo['_to']; ?></td>
                            <td class="px-4 py-4 text-gray-900 dark:text-white"><?= $cargo['_dateDepart']; ?></td>
                            <td class="px-4 py-4 text-gray-900 dark:text-white"><?= $cargo['_dateArrive']; ?></td>
                            <td class="px-4 py-4 flex items-center justify-center">
                                <img src="<?= $cargo['_statusGlobal'] =='ouvert' ? 'https://cdn-icons-png.flaticon.com/128/9069/9069952.png' : 'https://cdn-icons-png.flaticon.com/128/4503/4503969.png'; ?>" alt="" class="w-5 h-5">
                            </td>
                            <td class="px-4 py-4 text-center text-gray-900 dark:text-white"><?= $cargo['_status']; ?></td>
                            <td class="px-4 py-4 flex items-center justify-center" id="detail-<?php echo $cargo['code']; ?>">
                                <a href="#" class="text-blue-600 dark:text-blue-500 hover:underline"><i class="fa-solid fa-circle-info"></i></a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
            <div class="text-xs md:text-sm relative text-gray-700 uppercase dark:text-gray-400 mt-4 flex justify-between w-full">
                <p></p>
                <nav aria-label="Page navigation example" class="mt-2">
                    <ul class="flex items-center -space-x-px h-8 text-sm" id="pagination">
                        <?php for ($i = 1; $i <= $totalpage; $i++) : ?>
                            <li>
                                <a href="#" id="page-<?=$i?>" class="flex items-center justify-center px-3 h-8  bg-white border border-gray-700 text-blue-700 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white <?=$i == $page ? 'bg-blue-700 text-black' : 'bg-blue-200'?>">
                                    <?=$i?>
                                </a>
                            </li>
                        <?php endfor; ?>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
        <div class=" items-center hidden">
            
            <div class="h-full w-1 bg-gray-500 mx-4"></div>
            <div>
              <!-- Votre contenu ici -->

            </div>
          </div>
           <!-- Détail Cargaison -->
           <div class=" justify-center w-1/4 h-[200px] sm:hidden md:block hidden" bg-gray-100 id="detailcargo">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

            <div class=" shadow-md rounded-md p-6 hidden">
                <div class="flex justify-between items-center mb-4">
                    <div class="text-gray-500 text-xl font-bold">Code: 959802985</div>
                </div>
                <div class="grid grid-cols-2 gap-4 ">
                   
                    <div>
                        <p class="text-gray-600"><i class="fas fa-map-marker-alt text-blue-500" style="color: blue;"></i> De:</p>
                        <p class="font-semibold">Mauritanie</p>
                    </div>
                    <div>
                        <p class="text-gray-600"><i class="fas fa-map-marker-alt" style="color: blue;"></i> À:</p>
                        <p class="font-semibold">États-Unis d'Amérique</p>
                    </div>
                    <div>
                        <p class="text-gray-600"><i class="fas fa-calendar-alt" style="color: blue;"></i> Date de départ:</p>
                        <p class="font-semibold">01/06/2024</p>
                    </div>
                    <div>
                        <p class="text-gray-600"><i class="fas fa-calendar-alt" style="color: blue;"></i> Date d'arrivée prévue:</p>
                        <p class="font-semibold">08/06/2024</p>
                    </div>
                    <div>
                        <p class="text-gray-600"><i class="fas fa-road text-blue-500" style="color: blue;"></i> Distance:</p>
                        <p class="font-semibold">9614.9 km</p>
                    </div>
                    <div>
                        <p class="text-gray-600"><i class="fas fa-weight-hanging" style="color: blue;"></i> Poids:</p>
                        <p class="font-semibold">43 tonnes</p>
                    </div>
                    <div>
                        <p class="text-gray-600"><i class="fas fa-box" style="color: blue;"></i> Statut global:</p>
                        <p class="font-semibold"></p>
                    </div>
                    <div>
                        <p class="text-gray-600"><i class="fas fa-box" style="color: blue;"></i> Statut:</p>
                        <p class="font-semibold">En attente</p>
                    </div>
                </div>
                <div class="mt-4">
                    <p class="text-gray-600"><i class="fas fa-ship" style="color: blue;"></i> Type de transport:</p>
                    <p class="font-semibold">Maritime</p>
                </div>
            </div>
            
           </div>
</section>
          
<section class="w-full bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 hidden" id="sectiondetails">

</section>